@import '../../ui/utils/media.scss';

.wrapper {
    border: 3px solid white;
    border-radius: 40px;
    padding: 48px 90px;
    background: rgba(255, 255, 255, 0.1);
    @include mobile {
        padding: 30px 30px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 13px;
}

.title {
    font-size: 2.375rem;
    line-height: 46px;
    margin-bottom: 26px;
}
.desc {
    font-size: 0.875rem;
    line-height: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.link {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 17px;
}
